<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1>
     {{title}}!
  </h1>
    <hr/>
    <h4>Selected Employee</h4>
  <h3>Name:<span style="color: blue" >{{selectedEmployeeData.selectedName}}</span></h3>
  <h3>City:<span style="color: blue">{{selectedEmployeeData.selectedCity}}</span></h3>
  <h3>Salary:<span style="color: blue">{{selectedEmployeeData.selectedSalary}}</span></h3>
    <hr/>
<app-data-component
[employeeName]="emp.eName"
[employeeCity]="emp.eCity"
[employeeSalary]="emp.eSalary"
(sendRecord)="getRecord($event)"
*ngFor="let emp of employeeRecord"></app-data-component>
</div>


<p>Shivaji</p>